{% extends "base.html" %}
{% block content %}
{% load mathfilters %}
{% for auction in auctions %}
    {% if auction.auction_status != 'B' %}
        <h2>{{ auction.title }}</h2> <a href="/editauction/{{ auction.id }}">Edit Auction</a> <a href="/addpid/{{ auction.id }}"> Add Pidd</a>
        {% if user.is_staff %} Ban Auction: <a href="/banview/{{ auction.id }}">Ban Auction</a>{% endif %}
        <p><b>Seller:</b>{{ auction.seller }}<b>Title:</b>{{ auction.title }} <b>Starting Pid:</b>{{ auction.start_price|mul:rate }} <b>Latest Pid:</b>{{ auction.latest_pid|mul:rate}} </p>
        <p><b>Auction ends :</b> {{ auction.endtime }}</p>
        <p><b>Item description:</b>{{ auction.description }}</p>
        <a href="/get_highest_pid/{{ auction.id }}"> Get Highest Pid</a>
    {% endif %}
{% empty %}
    <p>No Auctions Available<p>
{%  endfor %}
{% endblock %}