{% load i18n %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Old Junk Auctions</h1>

    <br>
    <a href="/searchauction/">{% trans 'Search Auction' %}</a>
    <a href="/returnhome/{{id|default:"" }}{{ auction.id|default:"" }}">{% trans 'Home' %}</a>
    {% if user.is_authenticated %}
        <a href="/createauction/">{% trans 'Create Auction' %}</a>
        <a href="/logout/">{% trans 'Logout' %}</a>
        <a href="/edituser/">{% trans 'Edit User Data' %}</a>

    {% else %}
        <a href="/login/">{% trans 'Login' %}</a>
        <a href="/createuser/">{% trans 'Add new user' %}</a>
    {% endif %}

    <b>{%  trans 'Selected Currency:'%}</b> {{ currency }} <td></td><b>{% trans 'Rate:' %}</b> EUR vs {{ currency }} : {{ rate }}
    <br><br>
    <form action="/readjson/" method="POST">{% csrf_token %}
        <select name="dropdown">
            {% for key,value in rates.items %}
                <option value="{{ key }} {{ value }} "{% if key ==  currency %}selected{% endif %}> {{ key }}</option>
            {% endfor %}
        </select>
    <input type="submit" value="Apply">
    </form>
    <p><b>{% trans 'Selected Language:'%}{{ lang }}
    <form text="test" action="/setlang/" method="POST">{% csrf_token %}
        <select name="languages">
            {% for key,value in languages.items %}
                <option value="{{ key }} {{ value }}"{% if key == language %}selected{% endif %}>{{ key }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Apply">
    </form></b> </p>
    <br>

    {% get_available_languages as LANGUAGES %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->
    <p>{% trans "Welcome to our page" %}</p>

    {% language 'en' %}
        {% get_current_language as LANGUAGE_CODE %}
        <!-- Current language: {{ LANGUAGE_CODE }} -->
        <p>{% trans "Welcome to our page" %}</p>
    {% endlanguage %}

    {% if messages %}
        <ul class="messages">
            {% for msg in messages %}
            <li{%  if msg.tags %} class="{{ msg.tags }}"{% endif %}>{{ msg }}</li>
            {% endfor %}

        </ul>
    {% endif %}

{% block content %}
{% endblock %}
</body>
</html>