{%  extends "base2.html" %}
{% load i18n %}
<h2> {% trans 'Create Auction'%}</h2>
{% block content %}

<p><b>{% trans 'Confirm Auction'%}</b></p>
{% if error %}
    {{ error }}
{% endif %}

<b>{{ title }}</b>
    <form action="/saveauction/" method="post">
        {% csrf_token %}
        <label> <b>{% trans 'Seller ID:'%}</b> {{ seller }}</label><br>
        <label> <b>{% trans 'Title:'%}</b> {{ title }}</label><br>
        <label> <b>{% trans 'Description:'%}</b> {{ description }}</label><br>
        <label> <b>{% trans 'Min Price:'%}</b> {{ start_price }}</label><br>
        <label> <b>{% trans 'Latest Bid:'%}</b> {{ latest_bid }}</label><br>
        <label> <b>{% trans 'Deadline:'%}</b> {{ endtime }}</label><br>
        <br>
        <p><input type="radio" name="option" value="Yes">{% trans 'Yes' %}</p>
        <p><input type="radio" name="option" value="No">{% trans 'No' %}</p>
        <INPUT TYPE=HIDDEN NAME="seller" VALUE="{{ seller }}">
        <INPUT TYPE=HIDDEN NAME="title" VALUE="{{ title }}">
        <INPUT TYPE=HIDDEN NAME="auction_status" VALUE="{{ auction_status }}">
        <INPUT TYPE=HIDDEN NAME="description" VALUE="{{ description }}">
        <INPUT TYPE=HIDDEN NAME="start_price" VALUE="{{ start_price }}">
        <INPUT TYPE=HIDDEN NAME="latest_bid" VALUE="{{ latest_bid }}">
        <INPUT TYPE=HIDDEN NAME="endtime" VALUE="{{ endtime }}">
        <input type="submit" value="Submit">
    </form>

{% endblock %}
