{% extends "base2.html" %}
{% load i18n %}
{% block title %}{% trans 'Edit Auction'%}{% endblock %}
{% block content %}

<p><b>{% trans 'Your are editting auction:'%}{{ title }}</b></p>
    <form action="/savechanges/{{id }}/" method="post">
        {% csrf_token %}
        <p>{% trans 'Title:'%}<input type="text" name="title" id="title" value="{{ title }}" readonly></p>
        <p>{% trans 'Description:'%} <textarea name="description" cols="40" rows="20">{{ description }}</textarea> </p>
        <input type="submit" value="Save Changes">
    </form>
    {% if query %}
    {% else %}

    {% endif %}

{% endblock %}
